.countries-container {
  margin: 5rem auto;
  // padding: 2px;
  font-family: 'Lato', sans-serif;
  max-width: 1024px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 7px 13px -3px rgba(0, 0, 0, 0.3), inset 0 -3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  // border: 3px solid #000;

  .header {
    background-color: rgba(85, 23, 201, 0.622);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    justify-content: center;
    color: #fff;

    h1 {
      margin: 0;
      padding: 15px;
    }
  }

  .bar {
    background-color: rgba(85, 23, 201, 0.859);
    color: #fff;
    padding: 2px;
    border: 1px solid rgba(85, 23, 201, 0.141);
  }

  .countries {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    max-width: 1024px;
    justify-content: center;
    // margin: 0 auto;

    .country-card:nth-child(2n-1) {
      background-color: rgba(85, 23, 201, 0.631);
    }
  }
}
