.countries-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  max-width: 1024px;
  justify-content: center;
  margin: 0 auto;
}