.country-card {
  font-family: 'Lato', sans-serif;
  padding: 25px;
  margin: 10px;
  background-color: rgba(85, 23, 201, 0.622);
  min-width: 18rem;
  // max-width: 20rem;

  .next-icon {
    width: 32px;
    color: #fff;
  }

  .flag {
    display: flex;
    justify-content: center;

    img {
      width: 15rem;
      height: 8rem;
    }
  }

  .info {
    h2 {
      font-size: 16px;
      margin: 0;
    }

    span {
      font-size: 12px;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

}
