@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500;700&family=Rubik+Mono+One&display=swap');

.root {
  margin: 0;
  color: #5c0000
}

body {
  margin: 0;
}